<form method="POST" action="/events">
  <label for="title">Name</label>
  <input name="title" id="title" required />
  <br><br>
  <label for="datetime">Date</label>
  <input name="datetime" type="datetime-local" id="datetime" required/>
  <br><br>
  <label for="location">Location</label>
  <input name="location" id="location" required/>
  <br><br>
  <label for="capacity">capacity</label>
  <input name="capacity" type="number" id="capacity" required/>
  <br><br>
  <button>Create</button>
</form>
