<h2>Create New User</h2>
<form method="POST" action="/users">
  <div>
    <label for="name">Name:</label><br />
    <input id="name" name="name" type="text" required />
  </div>
  <br />
  <div>
    <label for="email">Email:</label><br />
    <input id="email" name="email" type="email" required />
  </div>
  <br />
  <button type="submit">Create User</button>
</form>
